<section>
    <div class="about" ng-controller="AboutCtrl">
        <a href="#/work" class="btn btn-back"><i class="fa fa-arrow-left"></i> <span class="hidden-xs">Go Back</span></a>
        <div class="container main">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="title"><span id="typed">About me</span></h1>
                    <div class="line base"></div>

                    <p class="para">
                        <img src="public/img/me.jpg" alt="" class="img-responsive" style="max-width: 200px; margin-bottom: 50px;"> I’m Shivansh Yadav, a 15 year old frontend developer.
                        <br>
                        <br> After learning <span>HTML</span>, <span>CSS</span>, <span>JS</span> and basic <span>php</span> in my high school, I discovered my passion is “<span>Creating solutions with technology</span>”. Currently I am a devoloper at <a href="https://fossasia.org" target="_blank">FOSSASIA</a>
                        <div class="dashline"></div>
                    </p>
                </div>
            </div>

               
     <script>
    $(function () {
        $("#typed").typed({
            strings: ["About me."],
            typeSpeed: 1.5,
            loop: false,
            loopCont: 1
        });
    });
    </script>
    
</section>